<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./formals.css"/>
</head>
<body>
    <div class ="Items">
        <div class="Items1">
        
       <div class="box">
        <img class="image" src="./images/womenfootwear/sandal.jpg" alt="men" height="250" width="250">
        <h4>Price: Rs.999</h4>
        <a href="./buy.html" ><h4>buy</h4></a></img>
    </div>
      
      <div class="box">
         <img class="image" src="./images/womenfootwear/sandal2.jpg" alt="men" height="250" width="250">
        <h4>Price: Rs.1000</h4>
        <a href="./buy.html" ><h4>buy</h4></a></img>
        </div>
        <div class="box">
         <img class="image" src="./images/womenfootwear/sandal3.jpg" alt="men" height="250" width="250">
         <a href="#" ><h4>Price: Rs.1000</h4><h4>buy</h4></a></img>
    </div>
         <div class="box">
         <img class="image" src="./images/womenfootwear/sandal4.webp" alt="men" height="250" width="250">
         <h4>Price: Rs.1000</h4>
         <a href="./buy.html" ><h4>buy</h4></a></img>
    </div>
    </div>
    </div>


      <div class="Items2">
    
    <div class="box">
    <img class="image" src="./images/womenfootwear/sandal5.jpg" alt="men" height="250" width="250">
    <h4>Price: Rs.1000</h4>
    <a href="./buy.html" ><h4>buy</h4></a></img>
</div>
<div class="box">
<img class="image" src="./images/womenfootwear/sndal6.webp" alt="men" height="250" width="250">
<h4>Price: Rs.1000</h4>
<a href="./buy.html" ><h4>buy</h4></a></img>
</div>

<div class="box">
<img class="image" src="./images/womenfootwear/sandal7.webp" alt="men" height="250" width="250">
<h4>Price: Rs.1000</h4>
<a href="./buy.html" ><h4>buy</h4></a></img>
</div>
<div class="box">
<img class="image" src="./images/womenfootwear/sandal8.jpg" alt="men" height="250" width="250">
<h4>Price: Rs.1000</h4>
<a href="./buy.html" ><h4>buy</h4></a></img>
</div>
</div>
</body>
</html>