<!doctype html>
<html lang="en" xmlns:th="www.thymeleaf.org">
  <head>
   
    <title>Men's</title>
</head> 
   <meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">


 <link rel="stylesheet" href="./men.css"/>
</link>
<div class="titlebar">
<div class="heading">

<html class="navbar navbar-expand-lg navbar-light p-1 mb-2 bg-primary text-white">
 <div class="logo">
     <img src="./images/logo.jpg" alt="Logo" height="100" width="200" >
 </div>
 <div class="topnav1">
    <a class="active" href="home.html">Home&nbsp;</a>
    <a href="About.html">About&nbsp;</a>
    <a href="#contact">Contact&nbsp;</a>
</div>
</div>
<div class="ad">
    <img class="image" src="https://s7ondemand4.scene7.com/is/image/OttoUK/frms_mensCLP_hero_230602?$dt-promo-img$&wid=1144" alt="Women" height="200" width="750">
  </div>
  <br><br>

<body>
    <div class ="Items">

        <div class="box">
            <img class="image" src="./images/formals.jpg" alt="Men" height="250" width="350">
            <a href="formals.html" >
            <h4>Formals</h4></a></img>
        </div>
        <div class="box">
          <img class="image" src="./images/menstraditionalwears.webp" alt="men" height="250" width="350">
          <a href="traditional.html" >
          <h4>Traditional</h4></a></img>
       </div>
      <div class="box"> 
         <img class="image" src="https://i.pinimg.com/originals/05/df/88/05df885e5d1ababf6bcfcb8d0a59ba2d.jpg" alt="Men" height="250" wigth="35">
         <a href="MenFootwear.html" >
            <h4>Footwear</h4></a></img>
    </div>
</div>
</div>
</body>
</html>