<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./formals.css"/>
</head>
<body>
    <div class ="Items">
        <div class="Items1">
        
       <div class="box">
        <img class="image" src="./images/Men'sFW/leatherSlippers.webp" alt="men" height="250" width="250">
        <h4>Price: Rs.999</h4>
        <a href="./buy.html" ><h4>buy</h4></a></img>
    </div>
      
      <div class="box">
         <img class="image" src="./images/Men'sFW/shoes.jpg" alt="men" height="250" width="250">
         <h4>Price: Rs.499</h4>
        <a href="./buy.html" ><h4>buy</h4></a></img>
        </div>
        <div class="box">
         <img class="image" src="./images/Men'sFW/sportShoes.jpg" alt="men" height="250" width="250">
         <h4>Price: Rs.759</h4>
         <a href="./buy.html" ><h4>buy</h4></a></img>
    </div>
         <div class="box">
         <img class="image" src="./images/Men'sFW/slippers.webp" alt="men" height="250" width="250">
         <h4>Price: Rs.199</h4>
         <a href="./buy.html" ><h4>buy</h4></a></img>
    </div>
    </div>
    </div>


      <div class="Items2">
    
    <div class="box">
    <img class="image" src="./images/Men'sFW/sandal1.jpg" alt="men" height="250" width="250">
    <h4>Price: Rs.1595</h4>
    <a href="./buy.html" ><h4>buy</h4></a></img>
</div>
<div class="box">
<img class="image" src="./images/Men'sFW/formalshoes.avif" alt="men" height="250" width="250">
<h4>Price: Rs.999</h4>
<a href="./buy.html" ><h4>buy</h4></a></img>
</div>

<div class="box">
<img class="image" src="./images/Men'sFW/slippers2.jpg" alt="men" height="250" width="250">
<h4>Price: Rs.449</h4>
<a href="./buy.html" ><h4>buy</h4></a></img>
</div>
<div class="box">
<img class="image" src="./images/Men'sFW/kolhapuri.jpg" alt="men" height="250" width="250">
<h4>Price: Rs.1590</h4>
<a href="./buy.html" ><h4>buy</h4></a></img>
</div>
</div>
</body>
</html>