<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 col-md-pull-6 col-sm-pull-6">
        <!--SHIPPING METHOD-->
        <div class="panel panel-info">
            <div class="panel-heading">OnlinePayment</div>
            <div class="panel-body">
                <div class="form-group">
                    <div class="col-md-12">
                        <h4>Online Payment</h4>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-12"><strong>UPI Type:</strong></div>
                    <div class="col-md-12">
                        <select id="UPIType" name="UPIType" class="form-control">
                            <option value="5">Gpay</option>
                            <option value="6">Phonepay</option>
                            <option value="6">paytm</option>
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-12"><strong>UPI Id:</strong></div>
                    <div class="col-md-12">
                        <input type="text" class="form-control" name="country" value="" />
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-6 col-sm-6 col-xs-12">
                        <button type="submit" class="btn btn-primary btn-submit-fix">Pay Now</button>
                    </div>
                </div>
                </div>
            </div>
        </div>
</body>
</html>